<p-table [style]="{'width':'200px'}" [value]="memberList" [scrollable]="true" scrollHeight="200px" selectionMode="multiple" [(selection)]="selectedMemberList" dataKey="id" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)">
  <ng-template pTemplate="colgroup">
    <colgroup>
      <col>
      <col width="50px">
    </colgroup>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>Member Name</th>
      <th>
        <p-checkbox [(ngModel)]="allMemberSelected" binary="true" (onChange)="onMemberListHeaderCheckboxChange()"></p-checkbox>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
    <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
      <td>{{rowData.name}}</td>
      <td class="row-select">
        <div (click)="onMemberListRowCheckboxClick($event)">
          <p-checkbox [(ngModel)]="rowData.selected" binary="true" (onChange)="onMemberListRowCheckboxChange(rowData)"></p-checkbox>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
